# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# Environment variables / secrets
.env

# Testing
.pytest_cache/
.coverage

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Spark
spark-warehouse/
metastore_db/

# Temporary files
*.tmp
*.temp